@font-face {
  font-family: "SrijanFont";
  src: url("/font.woff2") format("woff2");
  font-style: normal;
}

:root {
  --background: #121a1c;
  --background-menu: #121a1c;
  --blogs-background: #1c2b2644;
  --aboutMe-background: #26404229;
  --aboutMe-background-h1: linear-gradient(rgb(3, 212, 132), #6bc3ba5f);
  --text-color: #ffffff;
  --background-image: linear-gradient(#fff, rgba(255, 255, 255, 0.6));
}

:root.light {
  --background: rgba(211, 211, 211, 0.249);
  --aboutMe-background: #cadcdd37;
  --aboutMe-background-h1: linear-gradient(rgb(3, 212, 132), #37c7b9fc);
  --background-menu: #ffffff;
  --blogs-background: #bbcac56b;
  --text-color: #333;
  --background-image: linear-gradient(#202020, #888888);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: "CustomFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #07f096;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
  transition: transform 0.1s ease;
}

/***************************************HEADER*******************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.logo {
  cursor: pointer;
  height: fit-content;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 50px;
  padding-right: 80px;
}

.menu a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0dc47e;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu a:hover::after {
  width: 100%;
  left: 0;
}

.menu a:hover {
  color: #0dc47e;
  transform: scale(1.1);
}

.menu a:not(:hover)::after {
  width: 0;
  left: auto;
  right: 0;
}
.mobile-menu {
  display: none;
}
.mode {
  cursor: pointer;
  font-size: 22px;
  font-weight: 800;
}

.mode:hover {
  color: #0dc47e;
  transform: scale(1.1);
}

.resume button {
  width: 100px;
  padding: 5px 10px;
  background-color: transparent;
  color: var(--text-color);
  font-family: SrijanFont;
  border: 1px solid #04bc75a7;
  margin-right: 30px;
}

.resume button:hover {
  cursor: pointer;
  border: none;
  background-color: #04bc76;
  box-shadow: 0 0 5px #04bc76, 0 0 20px #04bc76, 0 0 25px #04bc76;
  color: #fff;
}

.typing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.text h1 {
  font-size: 60px;
  font-weight: 600;
  background-image: var(--background-image);
  margin-bottom: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text h2 {
  font-size: 36px;
  background-image: var(--background-image);
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text p {
  background-image: var(--background-image);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 14px;
  justify-content: center;
  text-align: center;
  width: 400px;
  align-items: center;
}

.typing-text p {
  font-family: "Courier New", Courier, monospace;
  font-size: 38px;
  /* color: #fff; */
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgb(255, 255, 255);
  display: inline-block;
  animation: typing 3s steps(30) 1s 1 normal both, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-menu);
    height: 88vh;
    z-index: 100;
    padding: 10px;
  }

  .menu-open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .sub-header {
    gap: 20px;
  }

  .mobile-menu {
    display: block;
  }

  .resume button {
    display: none;
  }

  .mode {
    cursor: pointer;
    font-size: 22px;
    font-weight: 800;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    padding: 20px;
  }

  .text h1 {
    font-size: 42px;
    margin-bottom: 0;
  }

  .text h3 {
    font-size: 28px;
  }

  .text p {
    font-size: 14px;
    text-wrap: wrap;
    width: 100%;
  }
}
/***************************************ABOUTME*******************************************/
.aboutme {
  min-height: 100vh;
  padding: 50px 20px 50px 20px;
  background-color: var(--aboutMe-background);
  border-radius: 8px;
}

.aboutme h1 {
  background-image: var(--aboutMe-background-h1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 30px;
}

.description {
  display: flex;
  justify-content: space-around;
  margin: 50px 10px;
}

.my-description {
  width: 45%;
  line-height: 1.8;
}

.image {
  width: 450px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(4, 188, 117, 0.622);
  background-image: url("/srijan.jpg");
  background-size: cover;
  background-position: center;
}

.skill-icons {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.skill-icons-wrapper {
  display: flex;
  animation: scroll 10s linear infinite;
}

.icon {
  padding: 10px 20px;
  font-size: 16px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon svg {
  font-size: 48px;
  color: #04bc76;
}

.education {
  font-family: "CustomFont", sans-serif;
  margin: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.timeline {
  position: relative;
  padding: 20px 0;
}

.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #0dc47e;
  z-index: 0;
}

.timeline-item {
  position: relative;
  width: 45%;
  margin-bottom: 30px;
}

.timeline-item.left {
  text-align: right;
  margin-right: 55%;
}

.timeline-item.right {
  text-align: left;
  margin-left: 55%;
}

.timeline-line {
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #0dc47e;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.timeline-item.left .timeline-line {
  right: -50px;
}

.timeline-item.right .timeline-line {
  left: -50px;
}

.timeline-content {
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
  padding: 10px;
  position: relative;
  width: 450px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-content:hover {
  cursor: pointer;
  box-shadow: 0 5px 8px 1px rgb(4, 188, 117);
  transition: box-shadow 0.3s ease-in-out;
  color: #fff;
}

.timeline-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-content p {
  margin: 0;
  color: #333;
}

@media (max-width: 768px) {
  .aboutme {
    padding: 10px;
  }

  .aboutme h1 {
    margin-top: 80px;
    line-height: 1;
  }

  .description {
    flex-direction: column-reverse;
  }

  .my-description {
    width: 100%;
    hyphens: auto;
  }

  .my-description p {
    padding: 10px;
  }

  .title {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  .skills {
    margin: 20px auto;
  }

  .image {
    width: 90%;
    margin: 0 auto;
  }

  .timeline:before {
    left: 10px;
    height: 65vh;
  }

  .timeline-item {
    width: 100%;
    text-align: left;
    margin: 0 0 30px 30px;
  }

  .timeline-item.left,
  .timeline-item.right {
    margin-left: 0;
    margin-right: 0;
  }

  .timeline-line {
    width: 40px;
    left: 10px;
    top: 10px;
    transform: none;
  }

  .timeline-item.left .timeline-line {
    top: 40px;
    right: 10px;
  }

  .timeline-item.right .timeline-line {
    top: 40px;
    left: 10px;
  }

  .timeline-content {
    width: 280px;
    box-shadow: 0 5px 8px 1px rgb(4, 188, 117);
    margin-left: 40px;
  }

  .insititute {
    font-weight: 500;
  }

  .timeline-content:hover {
    color: inherit;
  }
}

/***************************************PROJECTS*******************************************/
.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding: 50px;
}
.project-title {
  margin-top: 30px;
}

.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
  padding: 0 100px;
}

.project-content {
  width: 350px;
  min-height: 350px;
  height: auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 220px;
  object-fit: fill;
}

.project-desc {
  padding: 10px;
  text-align: left;
  color: #333;
}

.project-desc p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
  color: #121a1c;
  margin-bottom: 8px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.project-desc svg {
  cursor: pointer;
}
.project-desc svg:hover {
  transform: scale(1.5);
  color: #037348;
}

.tech-stack p {
  margin: 0;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #04bc76;
  cursor: pointer;
  color: #fff;
}

.project-content:hover {
  box-shadow: 0 5px 8px 1px rgb(4, 188, 117);
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
  color: #fff;
}

@media (max-width: 768px) {
  .projects {
    margin: 50px 0;
    padding: 10px;
  }

  .project-title h1 {
    margin-top: 60px;
  }
  .project-container {
    flex-direction: column;
    align-items: center;
    padding: 0 0;
  }

  .project-content {
    width: 90%;
  }
}
/***************************************BLOGS*******************************************/
.blogs {
  padding: 10px 100px 50px 100px;
  text-align: center;
  background-color: var(--blogs-background);
  border-radius: 8px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-card {
  margin-bottom: 30px;
  display: flex;
  width: 70%;
  border-radius: 8px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #555;
  padding: 10px;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 6px 3px rgb(4, 188, 117);
}

.blog-card img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  hyphens: auto;
}
.blog-title {
  font-size: 18px;
}
.blog-content {
  padding: 0 1rem;
}

.blog-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  color: #04bc76;
  width: 100%;
}

.blog-description {
  font-size: 1rem;
  color: #888;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tag-chip {
  background: #04bc76;
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  border-radius: 16px;
  display: inline-block;
  font-weight: 500;
}

.tag-chip:hover {
  cursor: pointer;
}

.read-more {
  display: inline-block;
  font-size: 1rem;
  color: #04bc76;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding-bottom: 20px;
}

.read-more:hover {
  color: #04bc76;
}

.load-more-button {
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #04bc75bd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #04bc76;
}

.more-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.more-buttons button {
  font-size: 14px;
}
@media (max-width: 768px) {
  .blogs {
    padding: 10px 20px;
    text-align: center;
  }

  .blog-card {
    flex-direction: column;
  }

  .blog-content {
    padding: 0 5px;
  }

  .blog-card img {
    width: 100%;
  }

  .blog-title {
    margin-top: 8px;
  }

  h1 {
    font-size: 2rem;
  }

  .blog-card {
    width: 100%;
  }

  h2 {
    font-size: 1.25rem;
  }

  .blog-description {
    font-size: 0.9rem;
  }

  .more-buttons button {
    font-size: 12px;
  }
}
/***************************************CONTACT*******************************************/
/* .contact {
  height: 100vh;
  padding: 50px;
  margin-top: 70px;
} */

.contact-section {
  padding: 50px 20px;
  min-height: 100vh;
}

.contact-section h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  font-size: 36px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px;
  /* gap: 50px; */
}

.contact-form,
.contact-info {
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: -2px 1px 8px 0px rgba(44, 213, 123, 0.37);
  flex: 1;
  max-width: 500px;
  min-width: 300px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
}

.contact-form h2,
.contact-info h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #0dc47e;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #999;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #0dc47e;
  outline: none;
}

.send-button {
  background: #0dc47e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.send-button:hover {
  background: #0aa265;
}

.contact-info p {
  margin: 10px 0;
  color: #999;
}

.contact-info svg {
  color: #0dc47e;
  margin-right: 10px;
}

.info-details {
  display: flex;
  align-items: center;
}

.contact-info .social-media {
  margin-top: 15px;
}

.contact-info .social-media svg {
  display: inline-block;
  margin-right: 15px;
  color: #099b63;
  font-size: 24px;
}

.social-media svg:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.2);
  color: #14f7a0;
}

@media (max-width: 768px) {
  .contact-section {
    padding: 20px;
  }

  .contact-section h1 {
    margin-top: 80px;
  }
  .contact-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .contact-info {
    margin-top: 30px;
  }
}

/***************************************FOOTER*******************************************/
.footer {
  padding: 10px;
  text-align: center;
  height: fit-content;
}
